VITE_BACKEND_API_URL=http://127.0.0.1:8000
VITE_RESOURCE_SERVICE_URL=https://resour.nwu.icu
VITE_FRONTEND_GITHUB_URL=https://github.com/MooWantFree/new_nwu_icu_frontend
VITE_BACKEND_GITHUB_URL=https://github.com/NWUCA/NWU.ICU
